<head>
    <title>Pokemons</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    <div class="App">
        <header class="App-header">
            <div class="SearchBar">
                <input type="text" placeholder="Search.." id="search">
            </div>
        </header>
        <table id="tableBody">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>URL</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><a href="{{ url_for('pokemon', name=item.name) }}">{{ item.name }}</a></td>
                <td>{{ item.url }}</td>
                <td><span class="arrow arrow-bottom"></span></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>