<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemons</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='card.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <div class="App">
        <header>
            <div class="SearchBar">
                <input type="text" placeholder="Search.." id="search">
            </div>
            <div class="pagination-container">
                <!-- Pagination links go here -->
                {% if page > 1 %}
                <a href="{{ url_for('main', page=page-1) }}" class="arrow-text page-link">← Previous</a>
                {% endif %}
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('main', page=1) }}">1</a>
                    </li>
                    {% for page_num in range(page - 2, page + 3) %}
                    {% if page_num > 1 and page_num < num_pages %}
                    <li class="page-item {% if page_num == page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('main', page=page_num) }}">{{ page_num }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page < num_pages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('main', page=num_pages) }}">{{ num_pages }}</a>
                    </li>
                    {% endif %}
                </ul>
                {% if page < num_pages %}
                <a href="{{ url_for('main', page=page+1) }}" class="arrow-text page-link">→</a>
                {% endif %}
            </div>
        </header>
        <table id="tableBody">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.index }}</td>
                    <td><img src="{{ item.img_url }}" alt="{{ item.name }} image"></td>
                    <td><a href="{{ url_for('pokemon', name=item.name) }}">{{ item.name }}</a></td>
                    <td>{{ item.url }}</td>
                    <td class="pkmn-arrows"><span class="arrow arrow-bottom"></span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>