<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    <div class="App">
        <header class="App-header">
            <div class="SearchBar">
                <input type="text" placeholder="Search.." id="search">
            </div>
        </header>
        <table id="tableBody">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>URL</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.url }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>